<div class="centeredContainer">
  <div>
    <canvas width="500" height="500"></canvas>

    <div class="controls">
      <span class="smallTxt">Select Fit Type</span>
      <select (change)="fit($event.target.value)">
        <option *ngFor="let item of fitName" [value]="item['name']">{{item['label']}}</option>
      </select>
    </div>

    <div class="controls">
      <span class="smallTxt">RMS Error: {{error$ | async | number:'2.2-3'}}</span>
    </div>

    <div class="controls">
      <span class="smallTxt padRight">Poly Coefs:</span>
      <span class="smallTxt fitText padRight" *ngFor="let coef of coef$ | async">{{coef | number: '1.2-5'}}</span>
    </div>

    <div class="controls">
      <span class="smallTxt padRight deepText">{{dlStatus$ | async}}</span>
    </div>
  </div>
</div>
